@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nanum+Gothic&family=Raleway:ital,wght@0,100;0,200;1,100&display=swap');
@media screen and (min-width:480px){
  h1,
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .mainHeader{
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(228, 224, 224);
    display:flex;
    padding: 0px;
  }
  .mainHeader.pages{
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    flex:1;
  }
  .tnk{
    color: black;
    font-size: 17px;
    display: inline-block;
    margin:10px 10px 10px 10px;
    text-decoration-style: none;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tnk:hover{
    margin:10px 10px 9px 10px;
    text-decoration: solid;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  .tnv{
    visibility: hidden;
  }
  #cart{
    justify-items: center;
    justify-self: center;
    align-self: center; 
    flex: 1;
    margin: 3px;
    background-color: white;
  }
  .footer{
    width: 100%;
    padding: 2px;
    background-color: rgb(239, 239, 243);
    display: flexbox;
    flex-direction: column;
    height: fit-content;
  }
  .corporates{
  background-color: rgb(252, 249, 249);
  width: fit-content;
  height: fit-content;
  flex: 1;
  justify-items: center;
  
  }
  .footer .newsletter{
    background-color: white;
    height: auto;
    width: 100%;
    flex: 1;
    display: inline-flex;
    padding: 10px;
  border-bottom: 1px solid rgb(202, 201, 201);
  justify-content: center;
  margin: auto;
  align-items: center;
  }
 
  .home{
    height: fit-content;
  }
 span{
   visibility: hidden;
 }
  form{
    display: inline-flex;
    
  }


}

@media screen and (max-width:480px){
  h1,
  p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .mainHeader{
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(228, 224, 224);
    display:flex;
    padding: 0px;
  }
  .mainHeader.pages{
   visibility: hidden;
   width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    flex:1;
  }
  .tnk{
   visibility: hidden;
  }
  .tnv{
    color: black;
    font-size: 17px;
    display: block;
    margin:10px 10px 10px 10px;
    text-decoration-style: none;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
  }
  #cart{
    justify-items: center;
    justify-self: center;
    align-self: center; 
    flex: 1;
    margin: 3px;
    background-color: white;
  }
  .footer{
    width: 100%;
    padding: 2px;
    background-color: rgb(239, 239, 243);
    display: flexbox;
    flex-direction: column;
    height: fit-content;
  }
  .corporates{
  background-color: rgb(252, 249, 249);
  width: fit-content;
  height: fit-content;
  flex: 1;
  justify-items: center;
  
  }
  .footer .newsletter{
    background-color: white;
    width: 100%;
    flex: 1;
    display: inline-block;
    padding: 10px;
  border-bottom: 1px solid rgb(202, 201, 201);
  }
  
  .home{
    height: fit-content;
  }
  span{
    justify-items: center;
    justify-self: center;
    align-self: center; 
    flex: 1;
    margin: 3px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    visibility: visible;
  }
 Form{
   display: inline-flex;
 } 
}